In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# View Wikipedia Data

### Generate data

In [2]:
from src.wikiscraper import WikiScraper
from src.dftools import splitby_sentence, splitby_word, split_data, reindex

In [3]:
import random
random.seed(1)

scraper = WikiScraper('data/wiki')
scraper.collect_wiki_data(['/wiki/{}'.format('Gnosis')], max_num=1)

saving: /wiki/Gnosis
saving: /wiki/Catholic_Church

In [4]:
wikitest = scraper.dataframes['/wiki/Gnosis']
wikitest2 = split_data(wikitest, splitby_sentence, 'paragraph', split_col='data')
wikitest3 = split_data(wikitest2, splitby_word, 'sentence', split_col='data')

wikitest.head()
wikitest3.head()

   subsection  section                                               data tags
0           1        0                                             Gnosis   h1
1           1        0  Gnosis is the common Greek noun for knowledge ...    p
2           2        1                                          Etymology   h2
3           2        1  Gnosis is a feminine Greek noun which means "k...    p
4           2        1  A related term is the adjective gnostikos, "co...    p

   sentence  paragraph  subsection  section    data tags
0         0          0           1        0  Gnosis   h1
1         1          1           1        0  Gnosis    p
2         1          1           1        0      is    p
3         1          1           1        0     the    p
4         1          1           1        0  common    p

In [5]:
wikitestidxs = wikitest[['subsection', 'section']].to_records(index=False).tolist()

wikitestidxs[:5]
reindex(wikitestidxs, sparse=True)[:5]

[(1, 0), (1, 0), (2, 1), (2, 1), (2, 1)]

[(0, 0), (0, 0), (0, 1), (0, 1), (0, 1)]

### Load data

In [1]:
import os
import glob
import pandas as pd

def get_wiki_urls(data_dir):
    url_list = glob.glob(os.path.join(data_dir, '*'))
    return dict(zip(range(len(url_list)), url_list))

def get_wikitext(df, by):
    df = df[df['tag']=='p']
    return list(map(lambda x: ' '.join(x[1]['data']), df.groupby(by)))

In [2]:
wiki_urls = get_wiki_urls('data/wiki')

In [3]:
wiki_urls

{0: 'data/wiki/Baal.csv',
 1: 'data/wiki/Agnosticism.csv',
 2: 'data/wiki/Israelites.csv',
 3: 'data/wiki/Afterlife.csv'}

In [4]:
wiki = pd.read_csv(wiki_urls[0])

In [5]:
wiki.iloc[10:40]

,nword,data,tag,section,subsection,paragraph
10,17,"In such contexts, it follows the anglicized pr...",p,1,0,4
11,13,"In close transliteration of the Semitic name, ...",p,1,0,4
12,22,"In the Northwest Semitic languages—Ugaritic, P...",p,1,0,5
13,13,"Cognates include the Akkadian Bēlu (𒂗), Amhari...",p,1,0,5
14,17,Báʿal (בַּעַל) and baʿl still serve as the wor...,p,1,0,5
15,15,They also appear in some contexts concerning t...,p,1,0,5
16,32,The feminine form is baʿalah (Hebrew: בַּעֲלָה...,p,1,0,6
17,13,Suggestions in early modern scholarship also i...,p,1,0,7
18,2,Semitic religion,h2,2,0,8
19,1,Generic,h3,2,1,9
20,32,"Like EN in Sumerian, the Akkadian bēlu and Nor...",p,2,1,10
21,16,"Only a definitive article, genitive or epithet...",p,2,1,10
22,1,Hadad,h3,2,2,11
23,24,Baʿal was also used as a proper name by the th...,p,2,2,12
24,30,Most modern scholarship asserts that this Baʿa...,p,2,2,12
25,54,"Scholars propose that, as the cult of Hadad in...",p,2,2,12
26,20,A minority propose that Baʿal was a native Can...,p,2,2,12
27,28,"Regardless of their original relationship, by ...",p,2,2,12
28,1,El,h3,2,3,13
29,11,The Phoenician Baʿal is generally identified w...,p,2,3,14
30,1,Baʿal,h3,2,4,15
31,32,Baʿal is well-attested in surviving inscriptio...,p,2,4,16
32,18,"Nonetheless, Ugaritic records show him as a we...",p,2,4,16
33,29,The dry summers of the area were explained as ...,p,2,4,16
34,43,"Thus, the worship of Baʿal in Canaan—where he ...",p,2,4,16
35,26,Anxiety about the availability of water for cr...,p,2,4,16
36,25,"He was also called upon during battle, showing...",p,2,4,16
37,9,The Lebanese city of Baalbeck was named after ...,p,2,4,16
38,25,The Baʿal of Ugarit was the epithet of Hadad b...,p,2,4,17
39,22,"Baʿal was usually said to be the son of Dagan,...",p,2,4,17

### Text by paragraph

In [6]:
get_wikitext(wiki, 'paragraph')[:3]

['Baal (/ˈbeɪəl, ˈbɑːəl/), properly Baʽal, was a title and honorific meaning "owner", "lord" in the Northwest Semitic languages spoken in the Levant during antiquity. From its use among people, it came to be applied to gods. Scholars previously associated the theonym with solar cults and with a variety of unrelated patron deities but inscriptions have shown that the name Baʿal was particularly associated with the storm and fertility god Hadad and his local manifestations.',
 'The Hebrew Bible includes use of the term in reference to various Levantine deities, often with application towards Hadad, who was decried as a false god. That use was taken over into Christianity and Islam, sometimes under the form Beelzebub in demonology.',
 'The spelling of the English term "Baal" derives from the Greek Báal (Βάαλ which appears in the New Testament and Septuagint, and from its Latinized form Baal, which appears in the Vulgate. These forms in turn derive from the vowel-less Northwest Semitic form BʿL (Phoenician and Punic: 𐤁𐤏𐤋). The word\'s biblical senses as a Phoenician deity and false gods generally were extended during the Protestant Reformation to denote any idols, icons of the saints, or the Catholic Church generally. In such contexts, it follows the anglicized pronunciation and usually omits any mark between its two As. In close transliteration of the Semitic name, the ayin is represented, as Baʿal.']

### Text by section

In [7]:
get_wikitext(wiki, 'subsection')[:3]

['Baal (/ˈbeɪəl, ˈbɑːəl/), properly Baʽal, was a title and honorific meaning "owner", "lord" in the Northwest Semitic languages spoken in the Levant during antiquity. From its use among people, it came to be applied to gods. Scholars previously associated the theonym with solar cults and with a variety of unrelated patron deities but inscriptions have shown that the name Baʿal was particularly associated with the storm and fertility god Hadad and his local manifestations. The Hebrew Bible includes use of the term in reference to various Levantine deities, often with application towards Hadad, who was decried as a false god. That use was taken over into Christianity and Islam, sometimes under the form Beelzebub in demonology. The spelling of the English term "Baal" derives from the Greek Báal (Βάαλ which appears in the New Testament and Septuagint, and from its Latinized form Baal, which appears in the Vulgate. These forms in turn derive from the vowel-less Northwest Semitic form BʿL (Phoenician and Punic: 𐤁𐤏𐤋). The word\'s biblical senses as a Phoenician deity and false gods generally were extended during the Protestant Reformation to denote any idols, icons of the saints, or the Catholic Church generally. In such contexts, it follows the anglicized pronunciation and usually omits any mark between its two As. In close transliteration of the Semitic name, the ayin is represented, as Baʿal. In the Northwest Semitic languages—Ugaritic, Phoenician, Hebrew, Amorite, and Aramaic—the word baʿal signified "owner" and, by extension, "lord", a "master", or "husband". Cognates include the Akkadian Bēlu (𒂗), Amharic bal (ባል), and Arabic baʿl (بَعْل). Báʿal (בַּעַל) and baʿl still serve as the words for "husband" in modern Hebrew and Arabic respectively. They also appear in some contexts concerning the ownership of things or possession of traits. The feminine form is baʿalah (Hebrew: בַּעֲלָה\u200e; Arabic: بَعْلَة\u200e), meaning "mistress" in the sense of a female owner or lady of the house and still serving as a rare word for "wife". Suggestions in early modern scholarship also included comparison with the Celtic god Belenus.',
 'Like EN in Sumerian, the Akkadian bēlu and Northwest Semitic baʿal (as well as its feminine form baʿalah) was used as a title of various deities in the Mesopotamian and Semitic pantheons. Only a definitive article, genitive or epithet, or context could establish which particular god was meant.',
 'Baʿal was also used as a proper name by the third millennium BCE, when he appears in a list of deities at Abu Salabikh. Most modern scholarship asserts that this Baʿal—usually distinguished as "The Lord" (הבעל, Ha Baʿal)—was identical with the storm and fertility god Hadad; it also appears in the form Baʿal Haddu. Scholars propose that, as the cult of Hadad increased in importance, his true name came to be seen as too holy for any but the high priest to speak aloud and the alias "Lord" ("Baʿal") was used instead, as "Bel" was used for Marduk among the Babylonians and "Adonai" for Yahweh among the Israelites. A minority propose that Baʿal was a native Canaanite deity whose cult was identified with or absorbed aspects of Adad\'s. Regardless of their original relationship, by the 1st millennium BCE, the two were distinct: Hadad was worshipped by the Aramaeans and Baʿal by the Phoenicians and other Canaanites.']

# View TM Data

### TM data by lines

In [8]:
tm_lines = pd.read_csv('data/tm/rib/lines.tsv', sep='\t').fillna('')

In [9]:
tm_lines.head(5)

,prefix,c0,content,size,face,marker,line,page,x0,y0,...,spacing,chunk,group,type,section,subsection,subsubsection,title,section_tag,image_url
0,,TM 5-1940-328-10,TM 5-1940-328-10,24.0,1,-1,0,1,30.818960,9.038821,...,-99.0,0,0,0,0,0,0,,0,
1,,OPERATOR MANUAL,OPERATOR MANUAL,14.0,1,-1,1,1,35.302621,17.640046,...,5.2,1,0,0,0,0,0,START,0,
2,,FOR,FOR,14.0,1,-1,2,1,44.642815,20.821866,...,1.2,2,0,0,0,0,0,,0,
3,,RIGID INFLATABLE BOAT,RIGID INFLATABLE BOAT (RIB),18.0,1,-1,3,1,25.986118,24.010614,...,1.2,3,1,1,0,0,0,,0,
4,,P/N NSW8MTR-OPEN-001,P/N NSW8MTR-OPEN-001,18.0,1,-1,4,1,30.310952,26.737884,...,0.2,3,1,1,0,0,0,,0,

### TM data by "chunks"

In [10]:
tm_chunks = pd.read_csv('data/tm/rib/chunks.tsv', sep='\t').fillna('')

In [11]:
tm_chunks.tail(10)

,prefix,content,marker,group,section,subsection,subsubsection,title,section_tag,image_url,context_mask,chunk_summary,group_summary,section_summary
5180,,Liters Gallons 0.264,-1,1725,7,3,0,,71,,1,Liters Gallons 0.264,,
5181,,Grams Ounces 0.035,-1,1725,7,3,0,,71,,1,Grams Ounces 0.035,,
5182,,Kilograms Pounds 2.205,-1,1725,7,3,0,,71,,1,Kilograms Pounds 2.205,,
5183,,Metric Tons Short Tons 1.102,-1,1725,7,3,0,,71,,1,Metric Tons Short Tons 1.102,,
5184,,Newton-Meters Pound-Feet 0.738,-1,1725,7,3,0,,71,,1,Newton-Meters Pound-Feet 0.738,,
5185,,Kilopascals Pounds per Sq Inch,-1,1726,7,3,0,,71,,0,Kilopascals Pounds per Sq Inch,Kilopascals Pounds per Sq Inch,
5186,,0.145,-1,1727,7,3,0,,71,,1,0.145,Kilometers per Liter Miles per Gallon 2.354 Ki...,
5187,,Kilometers per Liter Miles per Gallon 2.354,-1,1727,7,3,0,,71,,0,Kilometers per Liter Miles per Gallon 2.354,,
5188,,Kilometers per Hour Miles per Hour 0.621,-1,1727,7,3,0,,71,,0,Kilometers per Hour Miles per Hour 0.621,,
5189,,PIN 107240 -000,-1,1727,7,3,0,,71,,1,PIN 107240 -000,,